html, body {
    background-color: azure;
    font-size: 16pt;
    font-family: Times New Roman, Helvetica, sans-serif;
    }
	
.header {
        background-color: azure;
        padding: 20px;
        text-align: center;
        }
  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5f5f5f;
  }

li {
  float: left;
 }

li a {
   display: inline-block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   }

li a:hover, .dropdown:hover .dropbtn {
  background-color: black;
  }
  
  li a.active {
  background-color: #ff6347;
  color: black;
}

.dropdown-content {
  display: none;
  border: 1px solid #555;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  }

tr:hover #sCell, .dropdown-content a:hover {
	background-color: #DCDCDC
	}

.selected{background-color: #DCDCDC;}

.r3{background-color: white;}

.dropdown:hover .dropdown-content {
  display: block;
  }
  
.dropdown-content a.active2 {
  background-color: #ff6347;
  color: black; 
  }
  
#bTable {
	margin-left:auto; 
    margin-right:auto;
  border-collapse: collapse;
  width: 75%;
  border: 2px solid #5f5f5f;
  border-radius: 5px;
  }
  
  #sTable, #sTable2 {
	margin-left:auto;
    margin-right:auto;
	border-collapse: collapse;
	border-style: hidden; 
  width: 75%;
  box-shadow: 5px 10px 18px #888888;
  }

#bCell {
	border: 1px solid #5f5f5f;
	background-color: white;
  text-align: left;
  padding: 8px;
  }
  
  #sCell {
	background-color: white;
  text-align: left;
  padding: 8px;
  }
  
  .sCell3 {
  text-align: left;
  padding: 8px;
  }

th {
	border: 1px solid #5f5f5f;
  text-align: center;
  padding: 8px;
  background-color: #ff6347;
  color: black;
  }
  
  #myInput {
	 position:absolute;
    width:67.5%;
	right: 20%;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus {outline: 3px solid #ddd;}
  
  .button2 {
	  position:absolute;
  	right: 12.6%;  
  background-color: #ff6347;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 580px;
  cursor: pointer;
  }
  
  .button3 {
	  position:absolute;
  	right: 60%;  
  background-color: #ff6347;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 580px;
  cursor: pointer;
  }
  
  .button3_2 {
	  position:absolute;
  	right: 30%;  
  background-color: #ff6347;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 580px;
  cursor: pointer;
  }